# ====== FLUTTER/DART ======
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# ====== ANDROID/IOS ======
/android/app/debug
/android/app/profile
/android/app/release

# ====== ENVIRONMENT ======
.env
*.env*
config.json

# ====== IDE ======
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code (keep configs but ignore workspace files)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# ====== OS ======
.DS_Store
Thumbs.db

# ====== MISCELLANEOUS ======
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/